# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
build/
dist/
develop-eggs/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/
wheelhouse/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Django stuff
*.log
local_settings.py
db.sqlite3

# Flask stuff
instance/
.webassets-cache

# Scrapy stuff
.scrapy

# Jupyter Notebook
.ipynb_checkpoints

# mypy, pytype, pyre
.mypy_cache/
.pytype/
.pyre/

# VSCode / IDEs
.vscode/
.idea/
*.swp

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Environment variables / sensitive files
.env
.env.*

# Cache
.cache/

#Project specific ignores
Example2.txt
Example3.txt
TopSellingAlbums.csv
TopSellingAlbums.xlsx
Golden_State.pkl
dog.jpg
employee.csv
image.png
new_sample.xml
sample.json
sample.xlsx
Sample-employee-XML-file.xml

